* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  letter-spacing: 0.3px;
}

.tables {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: start;
}

div.modal-edit {
  /* display: inline-block; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#employee-info {
  display: none;
}

#modal-delete {
  display: none;
}
