* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  letter-spacing: 0.3px;
}

.modal-edit {
  display: inline-block;
  padding: 20px 35px;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 25px -5px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 25px -5px rgba(0, 0, 0, 0.4);
}

.modal-edit h2 {
  text-align: center;
}

.modal-edit .field {
  margin: 30px 0;
}

.modal-edit input {
  display: block;
  padding: 3px 5px;
  margin-top: 5px;
  width: 100%;
  min-width: 300px;
  max-width: 700px;
  border: none;
  border-bottom: 1px solid black;
}

.modal-edit .two-fields {
  display: flex;
}

.modal-edit .two-fields .field {
  margin: 0;
  margin-top: 30px;
}

.modal-edit .two-fields .field:first-child {
  margin-right: 5px;
}

.modal-edit .two-fields .field:last-child {
  margin-left: 5px;
}

.modal-edit .two-fields input {
  min-width: 120px;
  max-width: 330px;
}

.modal-edit button {
  width: 100%;
  margin: 5px;
  padding: 7px 0;
  border: none;
  border-radius: 10px;
  color: #fff;
  font-weight: 600;
  background-color: rgb(35, 138, 223);
  cursor: pointer;
}
.modal-edit .red-btn {
  background-color: rgb(184, 19, 19);
}

.modal-edit button:hover {
  background-color: rgb(42, 159, 255);
}

.modal-edit .red-btn:hover {
  background-color: rgb(238, 25, 25);
}
