@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700;800&display=swap");

* {
  box-sizing: border-box;
  /* font-family: "Poppins", sans-serif; */
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  letter-spacing: 0.3px;
}

html {
  font-size: 15px;
}

.table-1 {
  width: 49%;
  -webkit-box-shadow: 0px 0px 20px -10px rgba(0, 0, 0, 0.87);
  box-shadow: 0px 0px 20px -10px rgba(0, 0, 0, 0.87);
  border-radius: 10px;
  display: inline-block;
}

.table-1 .row {
  display: grid;
  grid-template-columns: 2.5fr 2fr 1.5fr 1fr;
  border-bottom: 1px solid rgb(214, 214, 214);
  padding: 10px 0;
}

.table-1 .rows .row:first-child {
  background-color: transparent;
}

.table-1 .col {
  padding: 10px;
  padding-left: 1.5rem;
}

.table-1 .header {
  padding-top: 3px;
  padding-bottom: 3px;
  text-transform: uppercase;
  font-size: 0.9rem;
  background-color: rgb(245, 245, 245);
  color: rgb(119, 119, 119);
  border-radius: 10px 10px 0px 0px;
}

.table-1 .header .col {
  height: 100%;
  display: flex;
  align-items: center;
}

.table-1 .header .col:last-child {
  justify-content: right;
}

.table-1 .header #add-new {
  color: #fff;
  background-color: rgb(105, 105, 105);
  padding: 3px;
  border: none;
  border-radius: 10px;
  width: 30px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.table-1 .header #add-new:hover {
  color: #000;
  background-color: rgb(202, 193, 165);
}

.table-1 .name-cell {
  display: flex;
}

.table-1 .name-cell img {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 100%;
  margin-right: 15px;
}

.table-1 .name-cell .name {
  font-weight: 500;
  margin-bottom: 3px;
}

.table-1 .name-cell .email {
  color: rgb(133, 133, 133);
}

/* .table-1 .title-cell p:last-child {
  color: rgb(133, 133, 133);
  margin-top: 5px;
} */

.table-1 .responds-cell,
.table-1 .button-cell {
  display: flex;
  align-items: center;
}

.table-1 .button-cell {
  justify-content: flex-end;
}

.table-1 .button-cell a {
  text-decoration: none;
  margin-left: 5px;
}
.table-1 .button-cell a.delete {
  color: rgb(218, 0, 0);
}
