* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  letter-spacing: 0.3px;
}

html {
  font-size: 15px;
}

.table-2 {
  width: 49%;
  -webkit-box-shadow: 0px 0px 20px -10px rgba(0, 0, 0, 0.87);
  box-shadow: 0px 0px 20px -10px rgba(0, 0, 0, 0.87);
  border-radius: 10px;
  display: inline-block;
}

.table-2 .row:not(.table-title) {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  padding: 10px 0;
}

.table-2 .row.table-title {
  border-bottom: 1px solid rgb(224, 224, 224);
  padding: 20px 1.5rem;
}

.table-2 .row.table-title h1 {
  font-size: 1.5rem;
  margin-bottom: 5px;
}
.table-2 .row.table-title p {
  color: rgb(133, 133, 133);
}

.table-2 .row:nth-child(2n) {
  background-color: rgb(241, 241, 241);
}

.table-2 .col {
  padding: 10px;
  padding-left: 1.5rem;
}

.table-2 .col-name {
  font-weight: 600;
  color: rgb(133, 133, 133);
}
